.breadcrumbs-area
  .container
    .row
      .col-md-12
        .breadcrumbs
          h2 #{breadcrumb}
          ul.breadcrumbs-list
            li
              a(title='Return to Home', href='/home') Home
            li #{page}