.header-area
  .container
    .row
      .col-md-2.col-sm-6.col-xs-6
        .header-logo
          a(href='/home')
            img(src='img/logo-0.png', alt='')
      .col-md-1.col-sm-6.visible-sm.col-xs-6
        .header-right
          ul
            li
              a(href='login.html')
                i.flaticon-people
      .col-md-9.col-sm-12.hidden-xs
        .mainmenu.text-center
          nav
            ul#nav
              li
                a(href='/home') HOME
              li
                a(href='/browse') FEATURED
              li
                a(href='/account') MY ACCOUNT
              //- li
              //-   a(href='/about') ABOUT AUTHOR
              li
                a(href='/contact') CONTACT
      .col-md-1.hidden-sm
        .header-right
          ul
            li
              a(href='/')
                i.flaticon-people
