.mobile-menu-area
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12
        .mobile-menu
          nav#dropdown
            ul
              li
                a(href='home') HOME
              li
                a(href='/browse') FEATURED
              li
                a(href='/account') MY ACCOUNT
              //- li
              //-   a(href='/about') ABOUT AUTHOR
              li
                a(href='/contact') CONTACT
