doctype html
html.no-js(lang='')
  include includes/head.pug
  body
    // Header Area Start
    include includes/header.pug
    // Header Area End
    // Mobile Menu Start
    include includes/mobile-menu.pug
    // Mobile Menu End
    // Breadcrumbs Area Start
    include includes/breadcrumbs.pug
    // Breadcrumbs Area Start
    // Shop Area Start
    .shopping-area.section-padding
      .container
        .row
          .col-md-3.col-sm-3.col-xs-12
            .shop-widget
              .shop-widget-top
                aside.widget.widget-categories
                  h2.sidebar-title.text-center CATEGORY
                  ul.sidebar-menu
                    li
                      a(href='#')
                        i.fa.fa-angle-double-right
                        |                                                 YOUNG ADULT                                          
                        span (1680)
                    li
                      a(href='#')
                        i.fa.fa-angle-double-right
                        |                                                 SCIENCE FICTION                                            
                        span (1015)
                    li
                      a(href='#')
                        i.fa.fa-angle-double-right
                        |                                                CLASSICS
                        span (1185)
                    li
                      a(href='#')
                        i.fa.fa-angle-double-right
                        |                                                 FANTASY                                          
                        span (3800)
              .shop-widget-bottom
                aside.widget.widget-seller
                  h2.sidebar-title TOP SELLERS
                  .single-seller
                    .seller-img
                      img(src='img/shop/1.jpg', alt='')
                    .seller-details
                      a(href='/book')
                        h5 Cold mountain
                      h5 Author
                  .single-seller
                    .seller-img
                      img(src='img/shop/2.jpg', alt='')
                    .seller-details
                      a(href='/book')
                        h5 The historian
                      h5 Author
          .col-md-9.col-sm-9.col-xs-12
            .shop-tab-area
              .shop-tab-list
                .shop-tab-pill.pull-left
                  ul
                    li#left.active
                      a(data-toggle='pill', href='#home')
                        i.fa.fa-th
                        span Grid
                    li
                      a(data-toggle='pill', href='#menu1')
                        i.fa.fa-th-list
                        span List
                .shop-tab-pill.pull-right
                  ul
                    li.product-size-deatils
                      .show-label
                        label Show : 
                        select
                          option(value='10', selected='selected') 10
                          option(value='09') 09
                          option(value='08') 08
                          option(value='07') 07
                          option(value='06') 06
                    li.product-size-deatils
                      .show-label
                        label
                          i.fa.fa-sort-amount-asc
                          | Sort by :
                        select
                          option(value='position', selected='selected') Position
                          option(value='Name') Name
                    li.shop-pagination
                      a(href='#') 1
                    li.shop-pagination
                      a(href='#') 2
                    li.shop-pagination
                      a(href='#')
                        i.fa.fa-caret-right
              .tab-content
                #home.row.tab-pane.fade.in.active
                  .shop-single-product-area
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src='img/featured/1.jpg')
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='#') East of eden
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src='img/featured/2.jpg')
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='#') People of the book
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src='img/featured/3.jpg')
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='#') The secret letter
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src='img/featured/4.jpg')
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='#') Lone some dove
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src='img/featured/5.jpg')
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='#') The historian
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src='img/featured/6.jpg')
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='#') East of eden
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src='img/featured/7.jpg')
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='#') Cold mountain
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src='img/featured/8.jpg')
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='#') Twilight
                    .col-md-4.hidden-sm
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src='img/featured/1.jpg')
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='#') East of eden
                #menu1.tab-pane.fade
                  .row
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='single-product.html', title='East of eden')
                            img(src='img/featured/1.jpg', alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='single-product.html', title='East of eden') East of eden
                          p
                            | Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summer!
                          //- .availability
                          //-   span In stock
                          //-   span
                          //-     a(href='cart.html') Add to cart
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='single-product.html', title='People of the book')
                            img(src='img/featured/2.jpg', alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='single-product.html', title='People of the book') People of the book
                          p
                            | Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summer!
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='single-product.html', title='The secret letter')
                            img(src='img/featured/3.jpg', alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='single-product.html', title='The secret letter') The secret letter
                          p
                            | Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summer!
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='single-product.html', title='Lone some dove')
                            img(src='img/featured/4.jpg', alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='single-product.html', title='Lone some dove') Lone some dove
                          p
                            | Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summer!
    // Shop Area End
    // Footer Area Start
    include includes/footer.pug